/* Conteneur global */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titres */
h2, h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Formulaire d'ajout et de modification */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.form-container label {
  font-weight: bold;
  color: #555;
}

.form-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form-container input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-container button {
  align-self: flex-start;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #0056b3;
}

/* Table */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
}

.table td {
  background-color: #fff;
}

.table td div p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* Boutons d'action */
.btn {

  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-info {
  background-color: #17a2b8;
}

.btn-info:hover {
  background-color: #117a8b;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #a71d2a;
}

/* Espacement pour le formulaire de modification */
.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}
